.slick-dots li{
    width: 60px !important;
    margin-top: 40px !important;
}


@media screen and (min-width:768px) and (max-width:992px) {
    .slick-dots li{
        width: 40px !important;
        margin-top: 40px !important;
    }
    
    
}